*{
    margin: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Arial;
    background-color: #dab8c98e;
}
  
header{
    background-color: #7B506F;
    padding: 10px 0;
    border-bottom: 4px solid #4b1f4d;
}
  
nav{
    display: flex;
    width: 100%;
    padding: 0 20px;
}
  
.webpages{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 522px;
    margin-right: 320px;
}
  
.webpages a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #875b7a;
    transition: 0.2s;
}
  
.webpages a:hover{
    transform: scale(1.05);
    color: #DD99BB;
    text-decoration: underline;
    background-color: #7B506F;
}
  
.inkfilo{
    display: flex;
    align-items: center;
    gap: 0px; 
}
  
.logo{
    height: 95px;
}
  
.name{
    font-size: 28px;
    font-weight: 700;
    color: #1F1A38;
}

.plans1{
    padding: 60px;
}
  
.plans2{
    display: flex;
    justify-content: center;
    gap: 40px;
}
  
.plans{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px; 
    max-width: 700px;
}
  
.plan{
    background-color: rgba(249, 238, 232, 0.782);
    border: 2px solid #4b1f4d;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 12px;
}
  
.plan h3{
    font-size: 18px;
    font-weight: bold;
    color: #1F1A38;
    margin-bottom: 10px;
}
  
.plan p{
    font-size: 12px;
    color: #1b1715d7;
    margin-bottom: 15px;
}
  
.select{
    padding: 12px 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #69485f;
    border: none;
    border-radius: 30px; 
    transition: 0.2s;
    cursor: pointer;
}
  
.select:hover{
    background-color: #4dbae2;
    transform: scale(1.05);
}
  
.pictures{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.pictures img{
    width: 350px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #bdbbbb;
}
  
.premium{
    background-color: #DD99BB;
    color: #69485f;
    padding: 40px;
    text-align: center;
}
  
.premium h2{
    font-size: 30px;
    margin-bottom: 14px;
}
  
.premium p{
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}
  
.gopremium{
    padding: 15px 35px;
    font-size: 18px;
    color: #69485f;
    background-color: rgba(244, 238, 235, 0.77);
    border: 2px solid #69485f;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}
  
.gopremium:hover{
    background-color: #e9d5dfbb;
    transform: scale(1.05);
}
  
.inkinc{
    color: #0f0f0f65;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.footer{
    width: 100%;
    background-color: #7B506F;
    padding: 10px;
    text-align: center;
}

.footer .inkinc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .socmed{
    margin-top: 15px;
}

.footer .socmed a{
    margin: 0px 15px;
}

.footer .socmed img{
    width: 30px;
    height: 30px;
}

.footer .socmed a:hover img{
    transform: scale(1.05);
    transition: 0.2s;
}

.socmed img{
    margin-bottom: 10px;
}

@media (max-width: 1255px){
    nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
    }

    .webpages{
        flex-direction: row; 
        gap: 15px;
        margin-left: 0px;
    }

    .inkfilo{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        width: 100%; 
    }

    .logo{
        height: 50px; 
        max-width: 100%; 
    }

    .name{
        font-size: 24px;
    }
}

@media (max-width: 840px){
    nav{
        flex-direction: column; 
        align-items: center;    
        width: 100%;
        padding: 20px 0;    
    }

    .webpages{
        flex-direction: column;
        gap: 15px;  
        margin-left: 0;  
        margin-right: 0;   
        text-align: center;   
    }

    .webpages a{
        padding: 10px 20px; 
        font-size: 16px;  
    }

    .inkfilo{
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 5px; 
        width: 100%;
    }

    .logo{
        height: 70px; 
        max-width: 100%;  
    }

    .name{
        font-size: 20px;
    }

    .plans1{
        padding: 40px 20px;  
    }

    .plans2{
        display: flex;
        flex-direction: column;
        gap: 20px;  
        align-items: center;  
    }

    .plans{
        display: grid;
        gap: 20px;
        width: 100%;   
    }

    .plan{
        font-size: 14px; 
        padding: 15px;  
        text-align: center;  
    }

    .select{
        padding: 10px 20px; 
        font-size: 14px;  
    }

    .pictures{
        display: none; 
    }

    .premium{
        padding: 25px 15px;
        text-align: center;   
    }

    .premium h2{
        font-size: 26px;   
    }

    .premium p{
        font-size: 14px;
    }

    .gopremium{
        padding: 12px 30px; 
        font-size: 16px;  
    }

    .footer{
        padding: 15px 0;
    }

    .socmed a{
        margin: 0 15px;   
    }

    .socmed img{
        width: 30px;   
        height: 30px; 
    }
}