*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: url(ftbground.png);
    color: #1F1A38;
    font-size: 15px;
    line-height: 1.5;
}

header{
    background-color: #1F1A38;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

header p{
    font-size: 20px;
    margin-top: 10px;
}

.contact{
    max-width: 500px;
    max-height: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #DD99BB;
    opacity: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 20px;
    margin-bottom: 56px;
    margin-top: 50px;
}

.contact h2{
    font-size: 35px;
    margin-bottom: 25px;
    color: #1F1A38;
}

.contact .info {
    font-size: 20px;
}

.contact .info p {
    margin: 15px 0;
}

.space{
    background-color: #7b506f;
    padding: 15px;
}

footer{
    background-color: #1F1A38;
    color: gray;
    text-align: center;
    padding: 50px 40px 20px;
}

@media (max-width: 500px){
    .contact{
        max-width: 350px;
        max-height: 500px;
    }
}