*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: linear-gradient(to bottom, #7B506F, #DD99BB);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.body{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.webpages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: linear-gradient(to right, #1F1A38, #7B506F);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
}

.webpages .wp{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.webpages .nav{
    display: flex;
    gap: 30px;
}

.webpages .nav a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s;
}

.webpages .nav a:hover{
    color: #DD99BB;
    transform: scale(1.05);
    transition: 0.2s;
    text-decoration: underline;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background: url(pen.png);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.introduction{
    max-width: 40%;
}

.introduction h1{
    font-size: 48px;
    font-weight: 700;
    color: #1F1A38;
    margin-bottom: 20px;
    margin-left: 5px;
}

.introduction p{
    font-size: 20px;
    color: #392e29d7;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-left: 5px;
}

.account{
    display: flex;
    gap: 20px;
}

.account .access{
    background-color: #7B506F;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 5px;
}

.account .access:hover{
    background-color: #DD99BB;
    transform: scale(1.05);
    transition: 0.2s;
}

.filler{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10%;
}

.filler .feather{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px #2e2d2d33; 
    object-fit: cover; 
}

.filler a:hover .feather{
    transform: scale(1.05);
    transition: 0.2s;
}

.video {
    max-width: 40%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.inkinc{
    color: #0f0f0f65;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.footer{
    width: 100%;
    background-color: #7B506F;
    padding: 8px;
    text-align: center;
    margin-top: 30px;
}

.footer .inkinc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .socmed{
    margin-top: 25px;
}

.footer .socmed a{
    margin: 0px 15px;
}

.footer .socmed img{
    width: 30px;
    height: 30px;
}

.footer .socmed a:hover img{
    transform: scale(1.05);
    transition: 0.2s;
}

.socmed img{
    margin-top: -15px;
    margin-bottom: 8px;
}

@media (max-width: 900px){
    .video{
        max-width: 70%;
        height: 200px;
    }
    
    .video video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .filler .feather{
        width: 50px;
        height: 50px;
    }

    .account .access{
        background-color: #7B506F;
        color: #fff;
        padding: 10px 20px;
        font-size: 15px;
    }

    .introduction h1{
        font-size: 30px;
        font-weight: 700;
        color: #1F1A38;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    
    .introduction p{
        font-size: 10px;
        color: rgba(57, 46, 41, 0.844);
        line-height: 1.5;
        margin-bottom: 30px;
        margin-left: 5px;
    }

    .webpages .wp{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .body{
        width: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .webpages .nav a{
        font-size: 10px;
    }

    .webpages .nav{
        gap: 10px;
    }
}